{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/TelaHomeEstilo.css' %}">
{% endblock %}

{% block header_title %}
Home
{% endblock %}

{% block content %}
       <section class="geral">
            <section class="opcoes">
                <button id="myButton1"> Feed </button>
                <button id="myButton2"> Notificações </button>
                <button id="myButton3"> Calendário </button>
            </section>
            <div id="tela1" class="escondido"> 
                <div class="header_das_imagens">
                    <button class="botao_para_clicar_no_perfil_da_cordenacao"> </button>
                    <h5>Coordenação UNIFIP</h5>
                    <br>
                </div>
                
                <img class="imagem_feed" src="{% static 'img/imagem_feed.png' %}" alt="">
                <p style="font-size: 0.9rem; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed diam lorem. Aenean sit amet condimentum dui. Phasellus posuere elit at gravida dapibus.</p>
                <section class="bloco_interacoes_das_imagens_geral">
                    <div class="bloco_interacoes_das_imagens1">
                        <img class="imagens_interacoes" id="imagem_like" src="{% static 'img/like.png' %}" alt="">
                        <img class="imagens_interacoes" id="imagem_deslike" src="{% static 'img/deslike.png' %}" alt="">
                    </div>
                    <div class="bloco_interacoes_das_imagens2">
                        <img class="imagens_interacoes" id="imagem_comentarios" src="{% static 'img/comentarios.png' %}" alt="">
                        <img class="imagens_interacoes" id="imagem_guardar" src="{% static 'img/guardar.png' %}" alt="">
                    </div>
                </section>
                
            </div>
            <div id="tela2" class="escondidos">Tela 2: Notificações</div>
            <div id="tela3" class="escondidos">Tela 3: Calendário</div>
       </section>
       
       {% endblock %}

        {% block scripts %}
        <script src="{% static 'js/TelaHomescript.js' %}"></script>
        {% endblock %}

      