* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Adiciona box-sizing para facilitar o controle de largura e altura */
}



html, body {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
    height: 100%;
    margin-bottom: 3%;
    position: relative;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C1C1C1;
    left: 20px; /* Move o elemento 20px para a direita */

}

.geral {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


h3 {
    margin-top: 2%;
}

.imagensTopo {
    width: 10%;
    height: 40%;
    margin: 2%;
    cursor: pointer;
}

nav { 
    position: absolute; /* Posiciona o <nav> dentro do <main> */
    top: 20%; /* Alinha no topo do <main> */
    left: 0; /* Gruda na lateral esquerda */
    background-color: #1976D2;
    width: 15%;
    height: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; /* Remove os pontos da lista */
    margin-bottom: 10%;
    cursor: pointer;
}

li {
    margin-bottom: 10%;
}


.hidden {
    display: none; /* O elemento não é exibido e também não ocupa espaço */
    
}

.opcoes {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}

.container_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.9rem;
    padding: 0.8rem;
    margin-bottom: 0.4rem;
}


.button_perfil {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 100%;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

a {
    font-size: 0.7rem;
}

#imagem_perfil {
    border-radius: 50%;
    height: 95%;
    width: 95%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;
}

.container_Materias {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    height: 60%;
    width: 80%;
    margin-bottom: 1.0rem;
    padding: 0.3rem;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 7px;
}

.container_Materias.ativo {
  pointer-events: auto;
  opacity: 1;
}


.detalhes-materia {
  height: auto;
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;

}

.container_informativos {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 0.3rem;
}


aside {
    height: 50%;
    background-color: #1976D2;
    border-radius: 7px;
    padding: 0.3rem;
}
